# 🌐 Web (Flask + outils)
flask
flask_sqlalchemy
flask_wtf
flask_migrate
flask-login
flask-mail
python-dotenv
gunicorn

# 🛢️ database
psycopg2-binary      # PostgreSQL
mysqlclient          # MySQL
sqlalchemy

# 📊 Data / Analyse
pandas
numpy
matplotlib
seaborn
scikit-learn
openpyxl

# 🔧 general tools
requests
beautifulsoup4
lxml
python-dateutil
tqdm
pydantic
tabulate
rich
pymongo
pytz

# 🧪 Tests
pytest

# 🔍 Dev/debug
ipython
ipdb

# 🧱 environments
virtualenv

# security
werkzeug