body {
  overflow-x: hidden;
}

.salon-name {
  font-size: 1.5em;
  font-weight: bold;
}

.hero-image {
  border-radius: 12px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
}

.description {
  font-size: 1.7rem;
  line-height: 1.6;
  margin: 20px auto 0;
  max-width: 800px;
  padding: 0 10px;
}

.btn-primary {
  background-color: #a488a4;
  border-color: #a488a4;
  color: #fff;
}

.btn-outline-secondary {
  border-color: #a488a4;
  color: #a488a4;
}

.btn-primary:hover,
.btn-outline-secondary:hover {
  background-color: #a9a075;
  border-color: #a488a4;
  color: #fff;
}



/* <=768px (sm) */
@media (width <= 768px) {
  .description {
    font-size: 1.4rem;
  }
}

/* <=992px (md) */
@media (width <= 992px) {
  .description {
    font-size: 1.6rem;
  }

  .salon-name {
    font-size: 1.6em;
  }
}

/* <=1200px (lg) */
@media (width <= 1200px) {
  .description {
    font-size: 1.7rem;
  }

  .salon-name {
    font-size: 1.8em;
  }
}