.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(161, 82, 106, 0.8);
    padding: 20px 30px;
    border: 2px solid #a488a4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(1, 0, 3, 0.1);
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
}

.login-box.connecte {
    max-width: 800px;
    font-size: 1.5em;
}

.login-box p {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #000103;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.login-form input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1em;
    width: 100%;
}

.login-form button {
    background-color: rgba(164, 136, 164, 0.9);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1em;
    transition: all 0.3s ease;
    width: 100%;
}

.login-form button:hover {
    background-color: #a9a075;
    box-shadow: 6px 6px 12px rgba(1, 0, 3, 0.3);
    transform: translateY(-2px);
}

.login-box a {
    font-size: 1em;
    text-decoration: underline;
    color: #000103;
    margin-top: 20px;
    display: block;
    text-align: center; /* Centrer le lien */
}

.login-box a:hover {
    color: #a9a075;
}

.welcome {
    margin-top: 20px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}
.points {
    border-radius: 20px;
    margin: 10px 0px;
}

span {
    text-decoration: underline;
}

.login-box.connecte a {
    font-weight: 200;
    font-size: 0.8em;
}