.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    background: linear-gradient(rgba(164, 136, 164, 0.5), rgba(255, 255, 255), rgba(164, 136, 164, 0.5));
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 1, 3, 0.1);
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.login-form input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1em;
    width: 100%;
}

.login-form button {
    background-color: rgba(164, 136, 164, 0.9);
    color: white;
    padding: 10px;
    border: 2px solid #a488a4;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1em;
    transition: all 0.3s ease;
    width: 100%;
}

.login-form button:hover {
    background-color: #a9a075;
    box-shadow: 6px 6px 12px rgba(1, 0, 3, 0.3);
    transform: translateY(-2px);
}

label {
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
}