{% extends "base.html" %}

{% block title %}Connexion - Chouchouter By Nanou{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='connection.css') }}">
{% endblock %}

{% block content %}
<div class="login-box {% if user_logged_in %}connecte{% endif %}">
    {% if not current_user.is_authenticated %}
        <p>Connexion</p>
        <form action="{{ url_for('account.login') }}" method="POST" class="login-form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="text" name="username" placeholder="Nom d'utilisateur" required>
            <input type="password" name="password" placeholder="Mot de passe" required>

            {% if next %}
                <!-- Hidden field to redirect to /scan after login -->
                <input type="hidden" name="next" value="{{ next }}">
            {% endif %}

            <button type="submit">Connexion</button>
        </form>
        <a href="{{ url_for('reset_password.reset_user_request') }}">Mot de passe oublié ?</a>
        <a href="{{ url_for('account.register') }}">Créer un compte</a>

    {% elif request.args.get("scan_success") %}
        <div class="welcome">
            <p>Voici votre nouveau niveau :</p>

            {% set level = current_user.fidelity_level %}

            {% if 0 <= level <= 10 %}
                <p><img class="points" src="{{ url_for('static', filename='images/fidelite/carte_' ~ level ~ '.png') }}" alt="Carte {{ level }} prestations" width="600"></p>
            {% else %}
                <p>Niveau de fidélité inconnu.</p>
            {% endif %}

            {% if request.args.get("scan_success") %}
                <!-- Display the flash message if scan_success is present -->
                <p class="merci-message">Merci de votre fidélité ❤️ !</p>
            {% endif %}
        </div>

    {% else %}
        <div class="welcome">
            <p><span>Bonjour {{ current_user.firstname }}</span> !</p>

            {% set level = current_user.fidelity_level %}

            {% if 0 <= level <= 10 %}
                <p><img class="points" src="{{ url_for('static', filename='images/fidelite/carte_' ~ level ~ '.png') }}" alt="Carte {{ level }} prestations" width="600"></p>
            {% else %}
                <p>Niveau de fidélité inconnu.</p>
            {% endif %}

                <p class="merci-message">Merci de votre fidélité ❤️ !</p>

            <a href="{{ url_for('account.logout') }}">Déconnexion</a>
            <a href="{{ url_for('account.delete_account') }}">Supprimer mon compte</a>
        </div>
    {% endif %}
</div>      
{% endblock %}

    {% block flash_messages %}
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
      {% endwith %}
    {% endblock %}