{% extends "base.html" %}

{% block title %}Modification du mot de passe - Chouchouter By Nanou{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='reset_password_form.css') }}">
{% endblock %}


{% block content %}
<h2>Mot de passe oublié</h2>
<hr>
<div class="login-box">
  <form method="POST" class="login-form">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label>Nouveau mot de passe :</label>
    <input type="password" name="new_password" required>
    <button type="submit">Changer le mot de passe</button>
  </form>
</div>
{% endblock %}