.container {
    display: flex;
    padding: 0px 50px;
    margin-top: 60px;
    gap: 100px;
  }

.container .liste button {
    font-size: 1em;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

  h1 {
    text-align: center;
    margin-bottom: 80px;
}

  h5 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.2em;
    padding-top: 10px;
  }

  
  .liste {
    width: 30%;
    background-color: rgba(161, 82, 106, 0.8);
    padding: 10px 20px;
    border: 2px solid #a488a4;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(1, 0, 3, 0.1);
    height: auto;  /* Laisse la hauteur s'adapter au contenu */
  }
  
  .liste button {
    display: block;  /* Assure que les boutons sont en colonne, un sous l'autre */
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(164, 136, 164, 0.9);
    border: none;
    cursor: pointer;
    text-align: left;
    border-radius: 10px;
    transition: all 0.3s ease;
  }
  
  .liste button:hover {
    background-color: #a9a075;
  }
  
  .description {
    flex: 1;  /* La description occupe le reste de l'espace */
    padding: 80px 20px 20px 20px;
  }

  .description p {
    text-align: justify;
    margin-bottom: 40px;
    font-size: 1.5em;
  }

  .description h2 {
    margin-bottom: 40px;
    font-size: 2.5em;
  }
  
  .contenu {
    display: none;
  }
  
  .contenu.actif {
    display: block;
  }

  .description .btn {
    margin-top: 30px;
    display: block;
    width: fit-content;
    padding: 12px 24px;
    font-size: 1em;
    font-weight: bold;
    color: #000103;
    background-color: rgba(161, 82, 106, 0.8);
    border: 2px solid #a488a4;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(1, 0, 3, 0.2);
    text-decoration: none;
    transition: all 0.3s ease;
    margin: 30px auto 0;
  }
  
  .description .btn:hover {
    background-color: #a9a075;
    box-shadow: 6px 6px 12px rgba(1, 0, 3, 0.3);
    transform: translateY(-2px);
  }
  