{% extends "base.html" %}

{% block title %}Accueil - Chouchouter By Nanou{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='accueil.css') }}">
{% endblock %}


{% block content %}
<div class="container">
   <div class="photo-container">
   <img src="{{ url_for('static', filename='images/accueil3.png')}}" alt="Chouchouter" class="image">
   </div>
   <div class="text">
      <h2>✨ Sublimez vos mains avec passion et expertise ✨</h2>
      <hr>
      <p>Bienvenue chez <strong>Chouchouter by Nanou</strong>, votre espace beauté dédié à la prothésie ongulaire. Que vous soyez adepte d’un style naturel ou glamour, je mets mon savoir-faire au service de vos ongles pour révéler toute leur élégance.
      💅 Semi-permanent, renfort, extension ou nail art – chaque prestation est réalisée avec minutie, dans une ambiance douce et cocooning.</p>
      <hr>
      <h3>🔗 Prenez rendez-vous et laissez vos mains parler de vous.</h3>
   </div>
</div>
{% endblock %}