{% extends "base.html" %}

{% block title %}Accueil - Chouchouter By Nanou{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='accueil.css') }}">
{% endblock %}


{% block content %}
<div class="container">
   <img src="{{ url_for('static', filename='images/accueil.jpg')}}" alt="Chouchouter" class="image">
   <div class="text">
      <p>Lorem ipsum dolor sit amet. Ea itaque enim sed laborum veniam 33 ducimus explicabo id recusandae
         rerum sit voluptas tempore nam rerum omnis ut aliquid galisum. Id magnam iusto eum dolor accusamus
         non natus deserunt. Eum eaque laudantium est harum vero eos omnis blanditiis sed iste incidunt et
         fugiat aspernatur. Ut vero possimus aut voluptatem magni non quibusdam ratione.Sit perspiciatis
         exercitationem aut fuga iure est rerum voluptas et omnis voluptas et nulla internos ut ipsa nisi?
         Et rerum rerum aut ipsum ratione et ullam eius.</p>
   </div>
</div>
{% endblock %}