<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Chouchouter By Nanou{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    {% block head %}{% endblock %}
</head>

<body>
    <div class="overlay">
        <img src="{{ url_for('static', filename='images/logo.png') }}" class="overlay-logo" alt="Logo">
    </div>
      

    <header>
        <nav class="bloc_logo">
            <img src="{{ url_for('static', filename='images/logo.png')}}" alt="Logo" width="180">
            <a class="un" href="{{ url_for('accueil') }}">Accueil</a>
            <a class="deux" href="{{ url_for('portfolio') }}">Réalisations</a>
            <a class="trois" href="{{ url_for('tarifs') }}">Prestations & Réservations</a>
            {% if not session.get("user") %}
              <a class="quatre" href="{{ url_for('connexion') }}">Connexion</a>
            {% else %}
              <a class="quatre" href="{{ url_for('connexion') }}">Ma fidélité</a>
            {% endif %}
        </nav>
        {% block header %}<div class="vernis"></div>{% endblock %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p class="footer">Contact: 07.44.28.58.72</p>
        <p><a class="cinq" href="{{ url_for('mentions') }}">Mentions Légales</a></p>
        <a href="{{ url_for('cgu') }}">Conditions Générales d’Utilisation</a>
    </footer>

    <script>
        const overlay = document.querySelector('.overlay');
      
        // FONDU D’ENTRÉE
        if (sessionStorage.getItem('fading') === 'true') {
          overlay.style.opacity = '1';
          requestAnimationFrame(() => {
            overlay.style.opacity = '0';
          });
          setTimeout(() => {
            overlay.style.display = 'none';
          }, 1500); // doit correspondre à la durée de transition
          sessionStorage.removeItem('fading');
        } else {
          overlay.style.display = 'none';
        }
      
        // FONDU DE SORTIE
        document.querySelectorAll('a[href]').forEach(link => {
          link.addEventListener('click', e => {
            const url = link.getAttribute('href');
            if (!url.startsWith('http') && !url.startsWith('#')) {
              e.preventDefault();
              overlay.style.display = 'flex';
              requestAnimationFrame(() => {
                overlay.style.opacity = '1';
              });
              sessionStorage.setItem('fading', 'true');
              setTimeout(() => {
                window.location.href = url;
              }, 1500); // la même durée ici aussi
            }
          });
        });
      </script>
      
</body>
</html>
