{% extends "base.html" %}

{% block title %}Connexion - Chouchouter By Nanou{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='connection.css') }}">
{% endblock %}

{% block content %}
<div class="login-box {% if session.get('user') %}connecte{% endif %}">
    {% if not session.get("user") %}
        <p>Connexion</p>
        <form action="{{ url_for('login') }}" method="post" class="login-form">
            <input type="text" name="username" placeholder="Nom d'utilisateur" required>
            <input type="password" name="password" placeholder="Mot de passe" required>

            {% if next %}
                <!-- Champ caché pour rediriger vers /scan après login -->
                <input type="hidden" name="next" value="{{ next }}">
            {% endif %}

            <button type="submit">Connexion</button>
        </form>
        <a href="{{ url_for('register') }}">Créer un compte</a>

    {% elif request.args.get("scan_success") %}
        <div class="welcome">
            <p>Voici votre nouveau niveau :</p>

            {% set level = session["user"]["fidelity_level"] %}

            {% if 0 <= level <= 10 %}
                <p><img src="{{ url_for('static', filename='images/fidelite/carte_' ~ level ~ '.png') }}" alt="Carte {{ level }} prestations" width="600"></p>
            {% else %}
                <p>Niveau de fidélité inconnu.</p>
            {% endif %}

            {% if request.args.get("scan_success") %}
                <!-- Affiche le message flash si scan_success est présent -->
                <p class="merci-message">Merci de votre fidélité ❤️ !</p>
            {% endif %}
        </div>



    {% else %}
        <div class="welcome">
            <p>Bonjour <span>{{ session["user"]["firstname"] }} {{ session["user"]["lastname"] }}</span> !</p>
            <p>Voici votre niveau de fidélité :</p>

            {% set level = session["user"]["fidelity_level"] %}

            {% if 0 <= level <= 10 %}
                <p><img src="{{ url_for('static', filename='images/fidelite/carte_' ~ level ~ '.png') }}" alt="Carte {{ level }} prestations" width="600"></p>
            {% else %}
                <p>Niveau de fidélité inconnu.</p>
            {% endif %}

                <p class="merci-message">Merci de votre fidélité ❤️ !</p>

            <a href="{{ url_for('logout') }}">Déconnexion</a>
            <a href="{{ url_for('delete_account') }}">Supprimer mon compte</a>
        </div>
    {% endif %}
</div>      
{% endblock %}