{% extends "base.html" %}

{% block title %}Portfolio - Chouchouter By Nanou{% endblock %}

{% block head %}
   <link rel="stylesheet" href="{{ url_for('static', filename='portfolio.css') }}">
{% endblock %}

{% block content %}

<div class="photo-grid">
        <img class="photo" src="{{ url_for('static', filename='images/realisations/photo_1.jpg') }}" alt="photo 1">
        <img class="photo" src="{{ url_for('static', filename='images/realisations/photo_2.jpg') }}" alt="photo 2">
        <img class="photo" src="{{ url_for('static', filename='images/realisations/photo_1.jpg') }}" alt="photo 3">
        <img class="photo" src="{{ url_for('static', filename='images/realisations/photo_2.jpg') }}" alt="photo 4">
</div>

{% endblock %}