{% extends "base.html" %}

{% block title %}Accueil - Chouchouter By Nanou{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='accueil.css') }}">
{% endblock %}

{% block content %}
<div class="container my-5 py-5">
  <div class="text-center">
    <h1 class="mb-4">BIENVENUE CHEZ <br><span class="salon-name">"Chouchouter By Nanou"</span></h1>
    <img src="{{ url_for('static', filename='images/ongles.png') }}" alt="Mains avec manucure élégante" class="img-fluid mx-auto d-block hero-image my-4"/>
    <p class="description lead">
      Spécialisée dans la beauté des ongles, je vous propose des prestations sur mesure :
      pose de gel, nail art, manucure... dans un cadre chaleureux et cocooning ou à domicile.
    </p>
    <div class="d-flex flex-column flex-md-row justify-content-center gap-3 mt-4">
      <a href="{{ url_for('portfolio') }}" class="btn btn-outline-secondary">Voir les réalisations</a>
      <a href="{{ url_for('rates') }}" class="btn btn-primary">Voir les prestations</a>
    </div>
  </div>
</div>
{% endblock %}