<!-- display of the user edit page after clicking on the edit button in the admin dashboard -->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Admin - Modification des Utilisateurs - Chouchouter By Nanou</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_edit_user.css') }}">
</head>
<body>
    <header>
        <h1>Panneau d'administration</h1>
            <div class="button-container">
                <a href="{{ url_for('accueil') }}" class="retour">Retour au site</a>
            </div>
    </header>
    <main>
        <h2>Modification de l'utilisateur</h2>

        <form method="POST">
            <table>
                <thead>
                    <tr>
                        <th>Nom d'utilisateur</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Niveau fidélité</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" name="username" value="{{ user.username }}" required></td>
                        <td><input type="text" name="lastname" value="{{ user.lastname }}" required></td>
                        <td><input type="text" name="firstname" value="{{ user.firstname }}" required></td>
                        <td><input type="number" name="fidelity_level" value="{{ user.fidelity_level }}" min="0" required></td>
                        <td><input type="email" name="email" value="{{ user.email }}" required></td>
                    </tr>
                </tbody>
            </table>

            <div class="button-container">
                <button type="submit" class="button">✅ Valider</button>
                {% set dashboard_url = url_for('admin_dashboard') %}
                <button type="button" class="button" onclick="window.location.href='{{ dashboard_url }}'">❌ Annuler</button>
            </div>
        </form>
    </main>

</body>
</html>
