<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Chouchouter By Nanou{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    {% block head %}{% endblock %}
</head>

<body>
    <header>
        <nav class="bloc_logo">
            <img src="{{ url_for('static', filename='images/logo.png')}}" alt="Logo" width="180">
            <a class="un" href="{{ url_for('accueil') }}">Accueil</a>
            <a class="deux" href="{{ url_for('portfolio') }}">Réalisations</a>
            <a class="trois" href="{{ url_for('rates') }}">Prestations & Réservations</a>
            <a class="five" href="{{ url_for('comments') }}">Commentaires</a>
            {% if not session.get("user") %}
              <a class="quatre" href="{{ url_for('connection') }}">Connexion</a>
            {% else %}
              <a class="quatre" href="{{ url_for('connection') }}">Ma fidélité</a>
            {% endif %}
            <a href="{{ url_for('afficher_tablettes') }}">Nos Vernis</a>
        </nav>
        {% block header %}<div class="vernis"></div>{% endblock %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p class="footer">Contact: 07.44.28.58.72</p>
        <p><a class="cinq" href="{{ url_for('mentions') }}">Mentions Légales</a></p>
        <a href="{{ url_for('cgu') }}">Conditions Générales d’Utilisation</a>
    </footer>

  
</body>
</html>
