<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Modifier utilisateur</title>
</head>
<body>
    <h1>Modifier l'utilisateur</h1>
    <form method="POST">
        <label>Prénom :</label>
        <input type="text" name="firstname" value="{{ user.firstname }}" required><br>
        
        <label>Nom :</label>
        <input type="text" name="lastname" value="{{ user.lastname }}" required><br>
        
        <label>Niveau fidélité :</label>
        <input type="number" name="fidelity_level" value="{{ user.fidelity_level }}" min="0"><br>
        
        <button type="submit">Enregistrer</button>
        <a href="{{ url_for('admin_dashboard') }}">Annuler</a>
    </form>
</body>
</html>
