{% extends "base.html" %}

{% block title %}Créer un compte - Chouchouter By Nanou{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
{% endblock %}

    {% block content %}
    {{ super() }}
    <div class="login-box">
        <p>Créer un compte</p>

        <form method="post" action="/register" class="login-form">
            <input type="text" name="username" placeholder="Nom d'utilisateur" required>
            <input type="password" name="password" placeholder="Mot de passe" required>
            <input type="text" name="firstname" placeholder="Prénom" required>
            <input type="text" name="lastname" placeholder="Nom" required>
            <input type="text" name="email" placeholder="email" required>
            <div class="consent-wrapper">
                <input type="checkbox" name="consent_privacy" id="consent" required>
                <label for="consent">
                    J'ai lu et j'accepte la <a href="/politique-confidentialite.html" target="_blank">politique de confidentialité</a>.
                </label>
            </div>


            <button type="submit">Créer mon compte</button>
        </form>
    </div>
    {% endblock %}