{% extends "base.html" %}

{% block title %}Nos Vernis - Chouchouter By Nanou{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='tablettes.css') }}">
{% endblock %}


{% block content %}
<div class="container">
    <h1>Nos vernis "CANNI"</h1>
    <hr>
        <div class="tablettes-container">
            {% for tablette in tablettes %}
                <div class="tablette-card">
                    <img src="{{ url_for('static', filename='images/nocode/' + tablette.image) }}" alt="{{ tablette.nom }}">
                    <h2>{{ tablette.nom }}</h2>
                    <div class="colors">
                        <ul>
                            {% for color in tablette.colors %}
                                <li>
                                    <span class="color-name">{{ color.name }}</span>
                                    <span class="color-code">#{{ color.code }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}